@page "/"
<h3>@Message</h3>
<p>@ImageHint</p>
<table style="float:left;">
    @foreach (var cells in SortedCells)
    {
        <tr>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[0]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[1]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[2]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[3]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
        </tr>
    }
</table>
<div style="float:right;">
    @foreach (var hint in Hints)
    {
        <div>@hint.HintText</div>
    }
</div>
