@page "/"
<h3>@Message</h3>
<p>@ImageHint</p>
<button @onclick="ShowHelp" class="btn btn-primary">What is this?</button>
<br/>
<br />
<table style="float:left;margin-right:20px;">
    @foreach (var cells in SortedCells)
    {
        <tr>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[0]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[1]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[2]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
            <td>
                <PuzzleCell BigCellWidth="@BigCellWidth"
                        Cell="@cells[3]"
                        Cells="@Cells"
                        SmallCellWidth="@SmallCellWidth"
                        SortedCells="@SortedCells"
                        CellChanged="OnCellChanged"
                        ImageHintChanged="OnImageHintChanged"/>
            </td>
        </tr>
    }
</table>
<div>
    <span style="font-weight:bold;">Hint Filter: </span>
    <input @bind="HintFilter" @bind:event=oninput />
    <button @onclick="ClearHintFilter">x</button>
    @foreach (var hint in FilteredHints)
    {
        <div>
            <input type="checkbox" @bind=hint.Checked />
            @hint.HintText
        </div>
    }
</div>
